<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AlertyAlert.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>AlertyAlertExample.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0D3B194A1E3617D60018DCA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D3B19601E3617D60018DCA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D3B196B1E3617D60018DCA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D3B19821E3619B40018DCA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D3B198A1E3619B40018DCA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
